<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.openchaos.android.fooping"
	android:versionCode="1" android:versionName="0.1.0"
	android:installLocation="auto">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-feature android:name="android.hardware.location" android:required="false"/>
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

	<application android:icon="@drawable/fooping" android:label="@string/app_name" android:allowBackup="true">
		<activity android:name=".FooPingActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name=".service.FooPingService" android:label="@string/service_name" android:exported="false" />
		<receiver android:name=".AlarmReceiver" android:exported="false" />
	</application>
</manifest> 
