<!DOCTYPE html>
<html>
<head>
	<title>TrackTest</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Refresh" content="3600" /><!-- anti-bork refresh -->
	<link rel="stylesheet" href="//cdn.rawgit.com/cgross/angular-busy/f2e3261a0982da1f023881a6e7e3239cb626c9a4/dist/angular-busy.css" />
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			font-family: sans-serif;
			font-size: 100%;
/*			font-size: 0.8vw; */
		}
		body, html, .fullheight { height: 100%; }
		.infobox {
			width: auto;
			height: auto;
			max-width: 50%;
			min-width: 25%;
			text-align: left;
			position: absolute;
			top: 1em;
		}
		.infobox .ng-enter,
		.infobox .ng-leave.ng-leave-active {
			transition: 0.1s linear all;
			transform: scaleY(0);
			line-height: 0em;
		}
		.infobox .ng-leave,
		.infobox .ng-enter.ng-enter-active {
			transition: 0.1s linear all;
			transform: scaleY(1);
			line-height: inherit;
		}
		.infobox .ng-enter-stagger,
		.infobox .ng-leave-stagger {
			transition-delay: 0.05s;
			transition-duration: 0s;
		}
		.infobox th { font-weight: normal; text-align: center; }
		.infobox td { padding-left: 0.5em; padding-right: 0.5em; }
		.infobox td.numeric { text-align: right; }
		.infobox h2 { font-size: 100%; margin-top: 0em; }
		.infobox > div { margin-bottom: 1em; }
		#infobox { right: 1em; z-index: 20; }
		#infobox2 { left: 1em; z-index: 10; }
		#infobox td { min-width: 7em; }
		#infobox > div {
			padding: 0.5em 0.5em;
			border-radius: 0.5em;
			background: rgba(255, 255, 255, .75);
		}
		#map_canvas {
			width: 100%;
			height: 100%;
			min-height: 100%;
		}
		#wifi_scan { width: 100%; }
		#wifi_scan td:first-child { border-radius: 0.5em 0em 0em 0.5em; }
		#wifi_scan td:last-child { border-radius: 0em 0.5em 0.5em 0em; }
/*
		#wifi_scan { border-spacing: 0; }
		#wifi_scan tr:first-child td:first-child { border-radius: 0.5em 0em 0em 0em; }
		#wifi_scan tr:first-child td:last-child { border-radius: 0em 0.5em 0em 0em; }
		#wifi_scan tr:last-child td:first-child { border-radius: 0em 0em 0em 0.5em; }
		#wifi_scan tr:last-child td:last-child { border-radius: 0em 0em 0.5em 0em; }
*/
		[ng-cloak] { display: none !important; }
	</style>
</head>
<body id="app" ng-controller="patras">
	<div ng-if="!client">No data.</div>
	<div class="fullheight" ng-if="client" ng-cloak cg-busy="{promise: loading, delay: 100, minDuration: 250, backdrop: false, message: 'Updating...'}">
		<map id="map_canvas" center="{{(lastPosition)?([lastPosition.lat, lastPosition.lon]):([53.58, 10])}}" zoom="18" map-type-id="HYBRID" street-view-control="false" disable-default-u-i="true">
			<marker ng-if="lastPosition" position="{{[lastPosition.lat, lastPosition.lon]}}" icon="{
				path: {{(lastPosition.bearing !== undefined) ? (google.maps.SymbolPath.FORWARD_CLOSED_ARROW) : (google.maps.SymbolPath.CIRCLE)}},
				scale: 8,
				strokeWeight: 1,
				fillColor: '#FF0000',
				fillOpacity: 0.6,
				anchor: {{(lastPosition.bearing !== undefined) ? (pt2) : (pt0)}},
				rotation: {{(lastPosition.bearing) ? (lastPosition.bearing) : (0)}}
			}"></marker>
<!-- TODO: Think again. ng-repeat-ed circles don't update because data reload replaces the client object -->
<!-- 			<shape name="circle" ng-repeat="(color, loc) in {green: client.loc_gps, blue: client.loc_net}" ng-if="loc && loc.acc" center="{{[loc.lat, loc.lon]}}" radius="{{loc.acc}}" clickable="false" stroke-color="{{color}}" stroke-opacity=".33" fill-color="{{color}}" fill-opacity=".25"></shape> -->
			<shape name="circle" ng-if="client.loc_gps && client.loc_gps.acc" center="{{[client.loc_gps.lat, client.loc_gps.lon]}}" radius="{{client.loc_gps.acc}}" clickable="false" stroke-color="#00FF00" stroke-opacity=".33" fill-color="#00FF00" fill-opacity=".25"></shape>
			<shape name="circle" ng-if="client.loc_net && client.loc_net.acc" center="{{[client.loc_net.lat, client.loc_net.lon]}}" radius="{{client.loc_net.acc}}" clickable="false" stroke-color="#0000FF" stroke-opacity=".33" fill-color="#0000FF" fill-opacity=".25"></shape>
		</map>
		<div id="infobox" class="infobox">
			<div>
				<h2>Last Ping:</h2>
				<table>
					<tr><td>Sent:</td><td ng-bind="client.ts | date:'medium'"></td></tr>
					<tr><td>Received:</td><td ng-bind="client.ts_rcvd | date:'medium'"></tr>
					<tr><td>From:</td><td ng-bind="client.ipaddr"></td></tr>
				</table>
			</div>
			<div ng-if="client.loc_gps">
				<h2>Last known GPS location:</h2>
				<table>
					<tr><td>At:</td><td ng-bind="client.loc_gps.ts | date:'medium'"></td></tr>
					<tr><td>Address:</td><td><reverse-geocode ng-model="client.loc_gps"></reverse-geocode></td></tr>
					<tr><td>Loc:</td><td><span ng-bind="client.loc_gps.lat"></span> / <span ng-bind="client.loc_gps.lon"></span></td></tr>
					<tr ng-hide="client.loc_gps.alt === undefined"><td>Altitude:</td><td ng-bind="client.loc_gps.alt + 'm'"></td></tr>
					<tr ng-show="client.loc_gps.speed"><td>Speed:</td><td ng-bind="(client.loc_gps.speed | number:2) + 'm/s (' + (client.loc_gps.speed * 3.6 | number:2) + 'km/h)'"></td></tr>
					<tr ng-hide="client.loc_gps.bearing === undefined"><td>Bearing:</td><td ng-bind="client.loc_gps.bearing + '°'"></td></tr>
					<tr ng-hide="client.loc_gps.acc === undefined"><td>Accuracy:</td><td ng-bind="'±' + client.loc_gps.acc + 'm'"></td></tr>
				</table>
			</div>
			<div ng-if="client.loc_net">
				<h2>Last known Network location:</h2>
				<table>
					<tr><td>At:</td><td ng-bind="client.loc_net.ts | date:'medium'"></td></tr>
					<tr><td>Address:</td><td><reverse-geocode ng-model="client.loc_net"></reverse-geocode></td></tr>
					<tr><td>Loc:</td><td><span ng-bind="client.loc_net.lat"></span> / <span ng-bind="client.loc_net.lon"></span></td></tr>
					<tr ng-hide="client.loc_net.alt === undefined"><td>Altitude:</td><td ng-bind="client.loc_net.alt + 'm'"></td></tr>
					<tr ng-show="client.loc_net.speed"><td>Speed:</td><td ng-bind="(client.loc_net.speed | number:2) + 'm/s (' + (client.loc_net.speed * 3.6 | number:2) + 'km/h)'"></td></tr>
					<tr ng-hide="client.loc_net.bearing === undefined"><td>Bearing:</td><td ng-bind="client.loc_net.bearing + '°'"></td></tr>
					<tr ng-hide="client.loc_net.acc === undefined"><td>Accuracy:</td><td ng-bind="'±' + client.loc_net.acc + 'm'"></td></tr>
				</table>
			</div>
			<div ng-if="client.battery">
				<h2>Battery status:</h2>
				<table>
					<tr><td>Level:</td><td ng-bind="(client.battery.pct | number:0) + '%'"></td></tr>
					<tr><td>Status:</td><td ng-bind="client.battery.status | bat:'status'"></td></tr>
					<tr><td>Plug:</td><td ng-bind="client.battery.plug | bat:'plug'"></td></tr>
					<tr><td>Health:</td><td ng-bind="client.battery.health | bat:'health'"></td></tr>
					<tr><td>Temperature:</td><td ng-bind="(client.battery.temp / 10 | number:1) + '°C'"></td></tr>
					<tr><td>Voltage:</td><td ng-bind="(client.battery.volt / 1000 | number:3) + 'V'"></td></tr>
					<!-- <tr><td>Technology:</td><td ng-bind="client.battery.tech"></td></tr> -->
				</table>
			</div>
			<div ng-if="client.conn_active">
				<h2>Connection status:</h2>
				<table>
					<tr><td>Type:</td><td ng-bind="client.conn_active.type"></td></tr>
					<tr ng-show="client.conn_active.extra"><td>Extra:</td><td ng-bind="client.conn_active.extra"></td></tr>
					<tr ng-show="client.conn_active.subtype"><td>Sub-Type:</td><td ng-bind="client.conn_active.subtype"></td></tr>
					<tr><td>Connected:</td><td ng-bind="client.conn_active.connected"></td></tr>
					<tr ng-show="client.conn_active.failover"><td>Failover:</td><td ng-bind="client.conn_active.failover"></td></tr>
					<tr ng-show="client.conn_active.roaming"><td>Roaming:</td><td ng-bind="client.conn_active.roaming"></td></tr>
					<tr ng-show="client.conn_active.reason"><td>Reason:</td><td ng-bind="client.conn_active.reason"></td></tr>
				</table>
			</div>
<!-- 
<div>
<input type="text" ng-model="client_id" ng-change="updateClient(client_id)" />
<div ng-repeat="(client_id, data) in clients">{{client_id}}</div>
</div>
-->
		</div>
		<div id="infobox2" class="infobox">
			<div ng-if="client.wifi">
<!-- 				<h2>Wifi scan:</h2> -->
				<table id="wifi_scan">
<!-- 					<tr><th>SSID</th><th>BSSID</th><th>Level</th><th>Frequency</th></tr> -->
					<tr ng-repeat="wifi in client.wifi | orderBy:['-level','BSSID'] track by [wifi.BSSID, wifi.SSID]" style="background-color: {{wifi.level | wifi_level_rgba}}">
						<td ng-bind="(wifi.SSID === '') ? ('<hidden>') : (wifi.SSID)"></td>
						<td ng-bind="wifi.BSSID"></td>
						<td class="numeric" ng-bind="wifi.level + ' dBm'"></td>
						<td class="numeric" ng-bind="((wifi.freq / 1000) | number:3) + ' GHz'"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="//cdn.rawgit.com/allenhwkim/angularjs-google-maps/6222e29fc97d3353fd29bc0f6196925c315d09ee/build/scripts/ng-map.min.js"></script>
	<script src="//cdn.rawgit.com/cgross/angular-busy/f2e3261a0982da1f023881a6e7e3239cb626c9a4/dist/angular-busy.min.js"></script>
	<script>
"use strict";
angular.module("patras", ["ngAnimate", "ngMap", "cgBusy"])
.controller("patras", ["$scope", "$http", "$interval", function($scope, $http, $interval) {
	// TODO: think again. weird fix for icon anchor
	$scope.pt0 = new google.maps.Point(0, 0);
	$scope.pt2 = new google.maps.Point(0, 2.3);

	($scope.loadData = function() {
		$scope.loading = $http.get("data.json").success(function(data) {
			if (!data.length) {
				return;
			}

			// TODO: don't break all references to objects within $scope.client
			$scope.clients = data[0];

			// TODO: support multiple clients
			$scope.client_id = Object.keys($scope.clients)[0];
			$scope.updateClient($scope.client_id);
		});
	})();

	var stopInterval = $interval($scope.loadData, 33333);

	$scope.$on("$destroy", function() {
		$interval.cancel(stopInterval);
	});

	$scope.updateClient = function(client_id) {
		$scope.clients[client_id] && ($scope.client = $scope.clients[client_id]);
		// TODO: use recent best location
		$scope.lastPosition = ($scope.client.loc_gps && $scope.client.loc_net)?(($scope.client.loc_net.ts > $scope.client.loc_gps.ts + 62000)?($scope.client.loc_net):($scope.client.loc_gps)):(($scope.client.loc_gps)?($scope.client.loc_gps):(($scope.client.loc_net)?($scope.client.loc_net):(undefined)));
	}

}])
.filter("bat", function() {
	return function(input, filterType) {
		const bat_maps = {
			"status": ["invalid", "unknown", "charging", "discharging", "not charging", "full"],
			"plug": ["unplugged", "AC charger", "USB", "wireless"],
			"health": ["invalid", "unknown", "good", "overheat", "dead", "overvoltage", "failed", "cold"]
		};

		if (input < 0 || !filterType || !bat_maps[filterType] || input >= bat_maps[filterType].length) {
			return "invalid";
		}

		return bat_maps[filterType][input];
	}
})
.filter("wifi_level_rgba", function() {
	return function(input) {
		var level = Math.max(-90, Math.min(-40, parseInt(input)));
		var level_scaled = Math.round((level + 40) * -(255/50)); // TODO: log scaling?
		return "rgba(" + level_scaled + ", 255, " + level_scaled + ", .8)";
	}
})
.directive("reverseGeocode", function() {
	return {
		restrict: "E",
//		scope: { ngModel: "@" },
		link: function(scope, element, attrs) {
			// TODO: proper use of ngModel
			scope.$watch(attrs.ngModel, function(newValues, oldValues) {
				if (newValues === undefined || newValues.lat === undefined || newValues.lon === undefined) {
					return;
				}

				oldValues = oldValues || {};

				// watch triggers on every data reload because the watched object is replaced.
				// actual contents might be the same. initial function call receives identical references
				var unchanged = angular.equals([newValues.lat, newValues.lon], [oldValues.lat, oldValues.lon]) && newValues !== oldValues;

				if (unchanged) {
					return;
				}

				(scope.geocoder || (scope.geocoder = new google.maps.Geocoder())).geocode({ latLng: new google.maps.LatLng(newValues.lat, newValues.lon) }, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						if (results[0]) {
							element.text(results[0].formatted_address);
						} else {
							element.text("Unknown location");
						}
					} else {
						element.text("Geocoder failed: " + status);
					}
				});
			});
		}
	}
});

window.onMapsReady = function() {
	angular.bootstrap(document.getElementById("app"), ["patras"]);
}
	</script>
	<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;callback=onMapsReady"></script>
</body>
<!-- 
/*!
 * FooPing - https://github.com/lampeh/FooPing
 * Copyright 2015 Hauke Lampe
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
</html>
